.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 17px;
    margin-top: 50px;
    margin-left: 30px;
  }
    
  .card {
    border-bottom: solid 2px black;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-radius: 17px;
    background-color: whitesmoke;
    height: 249px;
    width: 360px;
    /* display: grid; */
    /* justify-content: center; */
    /* max-width: 240px; */
  }

  .card:hover {
    background-color: rgb(61, 61, 61);
  }

  .card:hover .name-occupation, .card:hover .occupation {
    color: white;
  }

  .card:hover .revenues, .card:hover .revenues p {
    color: lightgrey;
  }
  
  p {
    color: grey;
    /* float: inline-end; */
    /* display: flex; */
  }
  
  /* strong {
    /* display: flex; */
    /* float: right; */

  .userPhoto {
    background-color: rgb(38, 38, 38);
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    margin-top: 7px;
    margin-left: 7px;
  }

  .userDetails {
    display: flex; 
    /* align-items: center; */
    gap: 20px;
  }

  .name-occupation {
    display: grid;
    gap: 2px;
  }

  .name-occupation strong {
    margin-top: 10px;
  }

  .name-occupation p {
    margin-top: 1%;
  }

  .revenues {
    float: right;
    display: grid;
    margin-right: 10px;
    /* height: 77px; */
    justify-items: center;
    /* gap: 10px; */
  }

  .revenues p {
    font-size: smaller;
    margin-top: 4px;
    margin-bottom: 7px;
  }

  .total {
    /* font-size: large; */
    color: green;
    margin-top: 40px;
  }



 
    