.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 17px;
    margin-top: 50px;
    margin-left: 30px;
  }
    
  .card {
    border-bottom: solid 2px black;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-radius: 17px;
    background-color: whitesmoke;
    display: grid;
    justify-content: center;
    max-width: 240px;
  }
  
  p {
    color: grey;
    float: inline-end;
    /* display: flex; */
  }
  
  strong {
    display: flex;
    float: right;
  }
  
  img {
    border-radius: 31px;
    float: left;
  }
    