li {
    list-style: none;
    border-bottom: solid 1px black;
}

ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}

button {
    border: none;
    background-color: lightgray;
}

nav {
    margin-top: 60px;
}

button:hover {
    background-color: whitesmoke;
}

p {
    font-size: larger;
    color: black;
}
